In [69]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\user\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\user\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from bleach->kaggle) (23.0)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\user\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [70]:
import pandas as pd

In [71]:
import kaggle

In [72]:
!kaggle datasets download -d stefanoleone992/fifa-21-complete-player-dataset

fifa-21-complete-player-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [73]:
df = pd.read_csv('players_21.csv')

In [74]:
df = df.drop_duplicates()

In [75]:
df.weight_kg.dtype

dtype('int64')

In [76]:
df.height_cm.dtype

dtype('int64')

In [77]:
scores_under_180 = 0
count_under_180 = 0
scores_above_179 = 0
count_above_179 = 0

for i in range(len(df['height_cm'])):
    if df['height_cm'][i] < 180:
        scores_under_180 += df['overall'][i]
        count_under_180 += 1
    else:
        scores_above_179 += df['overall'][i]
        count_above_179 += 1
        
print(scores_under_180/count_under_180)

65.48455931080186

In [78]:
print(scores_above_179/count_above_179)

65.80568470918502

In [79]:
df[['joined']]

           joined
0      2004-07-01
1      2018-07-10
2      2014-07-16
3      2014-07-01
4      2017-08-03
...           ...
18939  2020-01-01
18940  2020-08-01
18941  2019-02-01
18942  2020-08-01
18943  2020-08-01

[18944 rows x 1 columns]

In [80]:
df[['joined_year', 'joined_month', 'joined_day']] = df['joined'].str.split('-', expand=True)

In [81]:
df[['joined_year', 'joined_month', 'joined_day']]

      joined_year joined_month joined_day
0            2004           07         01
1            2018           07         10
2            2014           07         16
3            2014           07         01
4            2017           08         03
...           ...          ...        ...
18939        2020           01         01
18940        2020           08         01
18941        2019           02         01
18942        2020           08         01
18943        2020           08         01

[18944 rows x 3 columns]